.left {
background-color:  aquamarine;
position: fixed;
width:  50%;
height:  100%;
top:  0;
left: 0;
}

.right {
background-color: aliceblue;
position: fixed;
width:  50%;
height:  100%;
top:  0;
right: 0;
}

.rocket {
	position: absolute;
	left:  50%;
	bottom: -4px;
	width:  137px;
	height:  200px;
	background: url('../img/rocket.png') no-repeat 0 0;
	background-size:  cover;
	transition: bottom 5000ms;
	margin-left:  -68.5px;
}


body.body-state1 .rocket {
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket,
body.body-state5 .rocket {
	bottom:  1200px;
}

body.body-state5 .rocket {
	background: url('../img/boom.png') no-repeat center center;
	background-size: cover;
	height: 400px;
	width: 442px;
	margin-left: -200px;
	transition: bottom: 12000ms;
	bottom: 600px;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
	background: url('../img/rocket-flying.gif') no-repeat 0 0;
	background-size:  cover;
}

.ground {
	background-color: green;
	background: url('../img/ground.png') no-repeat center center;
	background-size:  cover;
	position: absolute;
	bottom: 10px;
	left:  0;
	width:  100%;
	height: 40px;
}


.state1, .state2, .state3, .state4, .state5 {display: none;}

body.body-state1 .state1 {display: block;}
body.body-state2 .state2 {display: block;}
body.body-state3 .state3 {display: block;}
body.body-state4 .state4 {display: block;}
body.body-state5 .state5 {display: block;}

.interface {
	text-align: center;
	font-family:  'Roboto', sans-serif;
}

.interface h1 {
	font-size: 60px;
	font-weight: 900;
	position: relative;
	margin-top:  300px;
}

a {
	text-decoration: none;
	font-size:  30px;
	font-weight: 900;
}

a.button {
	margin:  0 auto;
	display: block;
	width:  200px;
	height:  200px;
	color:  #ffffff;
	border-radius: 100%;
	text-align: center;
	line-height:  200px;
	background-color: #6db165;
	transition: background-color 500ms;
}

.body-state1 a.button { background-color: #6db165;}
.body-state2 a.button {	background-color: #b04040;}
.body-state4 a.button {	background-color: #df7eff;}
.body-state5 a.button {	background-color: #b04040;}

